{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<h1 class="text-secondary">И на Марсе будут яблоки цвести</h1>
<h2>Список профессий</h2>
{% if t == 'ul'%}
    <ul>
        {% for prof in ['инженер', 'пилот', 'строитель', 'экзобиолог', 'врач', 'инженер по терраформированию', 'климатолог', 'специалист по радиационной защите', 'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения', 'метеоролог', 'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов']%}
        <li>{{ prof }}</li>
        {% endfor %}
    </ul>
{% elif t == 'ol' %}
    <ol>
        {% for prof in ['инженер', 'пилот', 'строитель', 'экзобиолог', 'врач', 'инженер по терраформированию', 'климатолог', 'специалист по радиационной защите', 'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения', 'метеоролог', 'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов']%}
        <li>{{ prof }}</li>
        {% endfor %}
    </ol>
{% else %}
    <h1>Ошибка введите либо ol либо ul</h1>
{% endif %}
{% endblock %}